// if an animaiton crosses components and itS not clear where to put the whole group of styles, put them here

:root {
	--standard-transition-duration: 0.5s;
}
.tabpanel--front,
.tabpanel--back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	// does this transition need to go on parent?
	transition: z-index, transform var(--standard-transition-duration);
	transform-style: preserve-3d;
	//40rem is test value based on nothing
	perspective: 40rem;
	transform: rotateY(0);
	&.rotated {
		transform: rotateY(-180deg);
	}
}
