canvas {
	.filter1940s & {
		filter: url("#grain") blur(0.6666px) brightness(1.2) grayscale(0.95)
			saturate(1.5);
	}

	.filter1950s & {
		filter: url("#posterize") url("#grainMost") blur(0.5px) brightness(3)
			saturate(1.1);
	}

	.filter1960s & {
		filter: url("#grainMore") blur(0.25px) saturate(1.5);
	}

	.filter1970s & {
		filter: url("#grainLeast") blur(0.125px) saturate(1.1);
	}
}
