.hidden--visually {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 1px !important;
	height: 1px !important;
	clip: rect(0 0 0 0);
	overflow: hidden;
	border: 0;
	white-space: nowrap;
}

.text-right {
	text-align: right;
}
// for things like Legends
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

//dragula
.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
}
.gu-hide {
	display: none !important;
}
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
.gu-transit {
	opacity: 0.2;
}
