.row {
  display: flex;
  flex-direction: row;
  //justify-content: space-evenly;
  &--wrap {
    flex-wrap: wrap;
  }
  &--grow {
    flex-grow: 1;
    width: 100%;
  }
  &--full-width {
    width: 100%;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.width--100 {
  width: 100% !important;
}

.height--100 {
  height: 100% !important;
}
